name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    name: Build and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Run Unit Tests
        run: npm run test

      - name: Build Project
        run: npm run build
        env:
          DATABASE_URL: "mysql://mock:mock@localhost:3306/mock" # Mock for build time if needed
          NEXTAUTH_SECRET: "mock-secret"
          NEXTAUTH_URL: "http://localhost:3000"
